html,
body {
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-image: url('../hybrid-739875-unsplash.jpg');
    overflow: hidden;
}

.navbar {
    margin-top: 1em;
}

.container {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.transp-nav {
    color: transparent;
}

h1 p {
    word-spacing: 15px;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 1.2rem;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    margin: 0;
}

.frase {
    position: absolute;
    top: 212px;
}
